BODY {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.text {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}

.textd {
	FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}


.jtext {
	FONT-SIZE: 18px; COLOR: black; FONT-FAMILY: UWJKS5, UWJMG3, UWJRD3, UWJBD5, sans-serif, Helvetica, Arial, Verdana,  
}

.braz {
	FONT-SIZE: 13px; COLOR: 6a1911; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}

.czerw {
	FONT-SIZE: 13px; COLOR: red; FONT-FAMILY: Arial, sans-serif, Helvetica
}
.zielen {
	FONT-SIZE: 13px; COLOR: 008080; FONT-FAMILY: Arial, Helvetica
}
.nieb {
	FONT-SIZE: 13px; COLOR: 000077; FONT-FAMILY: Arial, Helvetica
}
.gruby {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: black; FONT-FAMILY: Arial, sans-serif, Helvetica
}
.gora {
	 FONT-SIZE: 19px; COLOR: 6a1911; FONT-FAMILY: Helvetica, Verdana, Arial; TEXT-DECORATION: none
}
.bok {
	FONT-SIZE: 16px; COLOR: 6a1911; FONT-FAMILY: Arial, sans-serif, Helvetica
}

.boka {
	FONT-SIZE: 16px; COLOR: 531C00; FONT-FAMILY: Arial, sans-serif, Helvetica
}

.mbraz {
	FONT-SIZE: 11px; COLOR: 6a1911; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}

.brazd {
	FONT-SIZE: 19px; COLOR: 6a1911; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}

.liliput {
	FONT-SIZE: 9px; COLOR: 000000; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}

.tbraz {
	FONT-SIZE: 13px; COLOR: 333300; FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}





.clsMenuBarItem:hover {
	COLOR: #ffffee
}


A.menubartext {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: white; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}

A.clsMenuBarItem {
	 FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cacaca; TEXT-DECORATION: none
}



TD.clsMenuBarItem {
	 FONT-WEIGHT: bold; FONT-SIZE: 8px; CURSOR: hand; COLOR: #cacaca; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}

.clsMenuBarItem {
	 FONT-WEIGHT: bold; FONT-SIZE: 8px; CURSOR: hand; COLOR: #cacaca; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none

}

A:hover {
	COLOR: red
}

TD.clsMenuBarItem A:hover {
	COLOR: red
}


BODY {
	SCROLLBAR-FACE-COLOR: #994000; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #cfcfbe; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
